# Java
*.class
*.log
target/
.idea/
*.iml
bin/

# JavaScript
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/

# Ignore ZIP files
*.zip

# Ignore node_modules directory
node_modules/

# Ignore CSV files (optional if you don't want to track CSV files)
*.csv
